<%- partial('_partial/common/header') %>
<div class="mkknContent">
    <h1><%-post.title%></h1>
    <div class="content">
        <%-post.hoge%>
        <%-post.content%>
        <%-theme.favicon%>
        this is article
    </div>
</div>
<%- partial('_partial/common/footer') %>


<!--path,title,date,content,source,raw,updated,excerpt,_id,comments,layout,permalink,full_source-->